body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;	/* Hide scrollbars */
	background-color: #401552;
}
canvas {
	display: block;
	border: 1px solid black;
}
button {
	background-color:#008010;
	color:white;
	font-size:20px;
	padding: 15px 32px;
	border-radius: 4px;"
}
.hint {
	transform: rotate(90deg) translateX(50%);
	position: absolute;
	top: 50%;
	right: 0;
	transform-origin: top right;
}
